<nav role="navigation">
    <ul class="nav">
      <li><a href="{{ root_url }}/blog/archives">All Posts</a></li>
      {% for navigation_element in site.navigation_elements %}
      <li>
        <a href="{{ navigation_element.link }}">
          {{ navigation_element.name }}
        </a>
      </li>
      {% endfor %}
    </ul>

      {% if site.simple_search %}
    <form action="{{ site.simple_search }}" method="get">
      <fieldset role="search">
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
        <input class="search" type="text" name="query" results="0" placeholder="Search" x-webkit-speech />
      </fieldset>
    </form>
      {% endif %}
    {% include custom/navigation.html %}
</nav>
