---
layout: default
---


  {% include custom/header.html %}

  {% include navigation.html %}

  <div id="main">
    <div id="content">
      <div class="blog-index">
        {% assign index = true %}
        {% for post in paginator.posts %}
        {% assign content = post.content %}
        <article>
          {% include article.html %}
        </article>
        {% endfor %}

        <div class="pagination">
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page }}" class="previous">Previous</a>
          {% else %}
          <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
          <a href="{{ paginator.next_page }}" class="next">Next</a>
          {% else %}
          <span class="next ">Next</span>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
